.basic-card {
    width: 25rem;
    padding: 1.7rem;
    background-color: $color-light;
    border: solid 1px $color-grey-light;
    border-radius: 15px;
    box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);

    @include respond(tab-port) {
        // width: 30rem;
        width: clamp(30rem, 90vw, 500px);
        // border: solid 1px $color-grey-dark-2;
        background-color: $color-white;
    }

    @include respond(phone) {
        width: 100%;
    }

    &--light-background {
        background-color: $color-light;
    }

    &--wide {
        width: 30rem;
        margin: 0 auto;
        background-color: $color-light;
        padding: 1.8rem;

        @include respond(phone) {
            width: 100%;
        }

        & h3 {
            @include respond(phone) {
                font-size: 2.7rem;
                margin-bottom: 1rem;
            }
        }

        & img {
            @include respond(phone) {
                margin-bottom: 1.5rem;
            }
        }

        & p {
            @include respond(phone) {
                font-size: 1.9rem;
                line-height: 2.5rem;
            }
        }

        & b {
            font-weight: 600;
        }
    }

    &--with-review-card {
        width: 32rem;
        padding: 1.2rem 1.2rem 2rem 1.2rem;
    }

    &--for-carousel {
        padding: 1.5rem;
        width: 30rem !important;
    }

    &--padding-uneven {
        padding: 2.6rem 1.8rem;
    }

    &--horizontal {
        width: 100%;
        padding: 1rem;
        background-color: rgba($color-accent, 0.2);
        border: 1px solid rgba($color-accent, 0.1);
        border-radius: 1rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 1rem;

        @include respond(phone) {
            width: auto;
            padding: 6px;
            gap: 5px;
            background-color: $color-white;
        }

        & p {
            font-size: 1.3rem;
            font-weight: 500;
            width: 8rem;
            color: $color-dark-green;
            line-height: 1.3rem;

            @include respond(phone) {
                font-size: 1.1rem;
                width: 6.2rem;
            }
        }
    }

    &--remove-on-phone {
        @include respond(phone) {
            display: none;
        }
    }

    &__heading {
        font-family: $font-family-secondary;
        color: $color-primary;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;

        @include respond(tab-port) {
            font-size: 2.2rem;
        }
    }

    &__header {
        margin-bottom: 1rem;

        display: flex;
        align-items: center;
        gap: 1rem;

        & img {
            width: 6rem;
            height: 6rem;
        }

        & h3 {
            font-size: 2.4rem;
            line-height: 2.8rem;
            margin: 0;
        }

        &--large-heading {
            & h3 {
                margin-left: 6px;
                font-size: 3.4rem;
            }
        }
    }

    &__photo {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: 0 1rem 1.5rem rgba($color-black, 0.2);
    }

    &__icon {
        width: 5rem;
        height: 5rem;
        background-color: $color-primary;
        padding: 6px;
        border-radius: 1rem;
        margin-bottom: 1rem;

        &--without-padding {
            padding: 0;
        }
    }

    &__text {
        font-size: $default-font-size;
        font-weight: 400;
        color: $color-primary;
        margin-bottom: 1.4rem;

        @include respond(tab-port) {
            font-size: 1.6rem;
        }

        &--bold {
            font-weight: 600;
        }

        &--link {
            &,
            &:visited {
                text-decoration: none;
                color: rgba($color-dark-green, 0.9);
                border-bottom: 1px solid rgba($color-dark-green, 0.9);
                font-weight: 600;
            }
        }

        &--small {
            font-size: 1.2rem;

            @include respond(tab-port) {
                font-size: 1.5rem;
            }
        }

        &--large {
            font-size: 1.5rem;

            @include respond(phone) {
                font-size: 1.9rem;
                line-height: 2.5rem;
            }
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    &__sun-container {
        width: 6rem;
        height: 6rem;

        position: relative;

        @include respond(phone) {
            width: 5.5rem;
            height: 5.5rem;
        }
    }

    &__sun-container-icon {
        width: 100%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--remove-on-phone {
            @include respond(phone) {
                display: none;
            }
        }

        &--show-on-phone {
            display: none;

            @include respond(phone) {
                display: inline;
            }
        }
    }

    &__sun-container-text {
        width: 4.5rem;
        height: 4.5rem;
        color: $color-black;
        font-size: 1rem;
        font-weight: 600;
        line-height: 5px;
        padding: 1px 0 0 2px;
        border-radius: 10rem;
        border: 6px solid rgba($color-accent, 0.36);

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
