*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    color: $color-black;
    font-size: 62.5%; //1rem = 10px

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px
    }
}

body {
    box-sizing: border-box;
}
