// Fonts
@font-face {
    font-family: "Recoleta";
    src: url("../fonts/Recoleta-Regular.ttf") format("truetype");
    font-weight: normal;
}

body {
    font-family: "Raleway", sans-serif;
}

.heading-primary {
    color: $color-white;
    display: block;
    // font-family: $font-family-secondary;
    font-size: 4.5rem;
    // line-height: 3rem;
    font-weight: 500;
    text-transform: capitalize;

    &--dark {
        color: $color-primary;
        font-weight: 600;
    }

    @include respond(phone) {
        font-size: 3.2rem;
        line-height: 3.5rem;
    }

    &--large {
        font-size: 3.8rem;
        line-height: 4.5rem;

        @include respond(phone) {
            font-size: 4.2rem;
        }
    }

    &--small {
        font-size: 2.5rem;

        @include respond(phone) {
            font-size: 2.8rem;
        }
    }

    &--small-on-phone {
        @include respond(phone) {
            font-size: 2.3rem;
            line-height: 3rem;
        }
    }

    &--yellow {
        color: $color-accent;
    }

    &--underline {
        text-decoration: underline;
    }

    &--underline-on-phone {
        @include respond(phone) {
            text-decoration: underline;
        }
    }

    &--de-capitalize-on-phone {
        @include respond(phone) {
            text-transform: none;
        }
    }

    &__emoji {
        font-size: 1.8rem;
    }
}

.heading-pill {
    color: $color-light;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid $color-accent;
    border-radius: 10rem;
    background-color: rgba($color-accent, 0.1);
    padding: 3px 1.6rem;
    // margin-bottom: 1.5rem;
    opacity: 90%;

    &--dark {
        color: $color-dark-1;
        font-weight: 600;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }
}

.heading-secondary {
    // font-family: $font-family-secondary;
    font-size: 2.2rem;
    font-weight: 500;
    color: $color-white;
    line-height: 2.5rem;

    @include respond(tab-port) {
        font-size: 2.4rem;
        margin-bottom: 3rem;
        line-height: 3.5rem;
    }

    @include respond(phone) {
        font-size: 2.6rem;
    }

    &--dark {
        color: $color-dark-green;
        font-weight: 600;
    }

    &--small {
        font-size: 2rem;

        @include respond(phone) {
            line-height: normal;
            font-size: 2.2rem;
        }
    }
}

.paragraph {
    font-weight: 400;
    font-size: $default-font-size;
    color: $color-primary;

    @include respond(tab-port) {
        color: rgba($color-dark-green, 0.9);
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    &:not(:last-of-type) {
        margin-bottom: 2.2rem;
    }

    &--light {
        color: rgba($color-light, 0.85);
        font-weight: 300;

        @include respond(tab-port) {
            color: rgba($color-white, 0.9);
        }
    }

    &--white {
        color: $color-white;
    }

    &--thin {
        font-weight: 300;
    }

    &--bold {
        font-weight: 600;
    }

    &--large {
        font-size: 2rem;
        line-height: 2.5rem;

        @include respond(phone) {
            font-size: 1.8rem;
        }
    }

    &--black {
        color: $color-black;
    }

    &--yellow {
        color: $color-accent;
    }

    &--under-line {
        text-decoration: underline;
    }

    &--italic {
        font-style: italic;
        font-weight: 500;
    }

    &--break {
        @include respond(tab-port) {
            display: block;
            opacity: 70%;

            &:not(:last-of-type) {
                margin-bottom: 2.2rem;
            }
        }
    }

    &--change-style-on-phone {
        @include respond(phone) {
            // font-family: $font-family-secondary;
            font-size: 2.1rem;
            color: $color-black;
            font-weight: 600;
        }
    }
}
