.u-center-text {
    text-align: center !important;
}

.u-left-text {
    text-align: left !important;
}

.u-margin-auto {
    margin: 0 auto;
}

.u-margin-bottom-xl {
    margin-bottom: 10rem !important;
}

.u-margin-bottom-l {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-m {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-ml {
    margin-bottom: 6rem !important;
}

.u-margin-bottom-s {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-xs {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-xs {
    margin-top: 1rem !important;
}

.u-margin-top-l {
    margin-top: 8rem !important;
}

.u-margin-top-xl {
    margin-top: 10rem !important;
}

.u-mobile-hide {
    @include respond(phone) {
        display: none !important;
    }
}
